.container {
  position: relative;
  font-size: 300%;
  font-family: SYST;
  font-weight: bold;
}

.outer {
  position: absolute;
  left: 0;
  background: linear-gradient(rgba(46, 169, 223, 1), rgba(0, 92, 175, 1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 2;
}

.inner {
  position: absolute;
  left: 0;
  -webkit-text-stroke: 2px rgba(255,255,255,1);
  z-index: 1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.zhanwei {
  color: transparent;
}